.header {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #1C1C21;
  padding: 24px 0;
} 
.wrapper {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.container:first-child {
  margin: 0 50px 0 0;
}
.container:last-child {
  margin: 0 0 0 312px;
}
.logo {
  margin: 0 0 0 132px;
}
.link {
  text-decoration: none;
}
.link_active {
  color: #F2F2F3;
  text-decoration: none;
}